<h3 class="text-center mb-2">Admission List</h3>

<table class="table table-responsive-sm table-striped table-bordered table-hover">
    <thead class="thead-light">
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>MIDDLE NAME</th>
        <th>LAST NAME</th>
        <th>SEX</th>
        <th>ADDRESS</th>
        <th>PHONE NUMBER</th>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{ID}}</td>
            <td>{{firstname}}</td>
            <td>{{middlename}}</td>
            <td>{{lastname}}</td>
            <td>{{sex}}</td>
            <td>{{address}}</td>
            <td>{{phoneno}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>