<h3>List OF Classes</h3>

<table class="table table-responsive table-striped table-bordered">
    <thead>
        <th>ID</th>
        <th>CLASS NAME</th>
        <th>CLASS CATEGORY</th>
    </thead>
    <tbody>
        {{#each data}}
        <tr>
            <td>{{ID}}</td>
            <td>{{class_name}}</td>
            <td>{{class_category_id}}</td>

            <td> <a class="btn btn-sm btn-warning" href="/class/edit/{{ID}}">EDIT</a></td>
            <td><a class="btn btn-sm btn-danger" href="/class/delete/{{ID}}">DELETE</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>